/* Estilo general */
body {
    background-size: cover; /* Para cubrir todo el área del body */
    background-position: center; /* Para centrar la imagen */
    background-color: #f0f0f0; /* Color de fondo si la imagen no se carga */
    /* Otros estilos generales del body */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que el fondo cubra toda la ventana visible */
}

#logo-container {
    text-align: center;
    margin-bottom: 20px; /* Espacio entre el logo y el formulario */
}

/* Estilo del contenedor del formulario */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #000; /* Agrega un borde sólido de 2px de grosor y color negro */
    text-align: center; /* Centra el contenido del contenedor */
    max-width: 400px; /* Establece un ancho máximo para el contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente en la página */
}

/* Estilo del formulario */
.login-form {
    text-align: center;
    max-width: 400px; /* Ancho máximo para el formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente en el contenedor */
}

.login-form h1 {
    font-size: 24px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
}

.login-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #6930c3;
    color: #fff;
    border: 2px solid #000;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 0.3s;
}

.login-form button:hover {
    background-color: #333533; /* Cambia a color gris al pasar el mouse */
    transform: scale(1.05); /* Hacer un pequeño zoom al pasar el mouse */
    transition: transform 0.3s ease; /* Transición suave de la propiedad de transformación */
}
